
body {
    font-family: Consolas,"Courier New",monospace;
    color: rgb(211, 211, 211);
    background-color: white;
} 

#nome {
    color: rgb(31, 59, 182);
    padding: 10px;
    font-size: 25px;
    background-color: white;
    text-align: left;
}
/* header {
    color: #ebf3eae7;
    padding: 5px;
    height: 140px;
    font-size: 30px;
    background-color: white;
    background-image: url('https://cdn.pixabay.com/photo/2016/10/29/09/04/abstract-1780085__340.png');
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 85%;
} */

#about_me {
    color: rgb(184, 240, 29);
    font-size: 25px;
}
/* h3 {
    color:rgb(23, 0, 128) (99, 139, 18, 0.856);
    font-size: 35px;
    text-align: center;   
} */

#sites {
    margin-bottom: 55px;   
}

#education {
    color: rgb(22, 169, 206);
    font-size: 25px;
    border: rgb(0, 0, 0) 4px dotted;
}

#exp {
    color: rgb(162, 26, 167);
    font-size: 25px;
    
}

#skills {
    color: rgb(60, 220, 52);
    font-size: 25px;
    border: rgb(0, 0, 0) 4px dotted;
}

#languages {
    color: rgb(223, 189, 77);
    font-size: 25px;
}

#certificates {
    color: rgb(190, 64, 180);
    font-size: 25px;
}

#site1, #site2 {
    font-size: 15px;
    color: white;
    background-color: rgb(3, 56, 3);
    border-radius: 5px;
    text-decoration: none;
}

#site3, #site4 {
    font-size: 15px;
    color: yellow;
    background-color: rgba(56, 109, 56, 0.795);
    border-radius: 5px;
    text-decoration: none;  
}

/* nav {
    background-color: #00000033;
    padding: 12px 8px; 
    text-align: center;
    border-radius: 15px;
} */

article {
    background-color:rgb(42, 58, 129);
    border: 2px solid #2f1f77a2;
    padding: 16px;
    text-align: left; 
    border-radius: 20px;

}

/* a {
    color: #2eee2ef1;
    text-decoration: none;
    background-color: #8719d14f;
    padding: 6px 12px;
    border-radius: 15px;
} */

#footer {
    color: black;
    background-color: white;
    text-align: center;   
}

#powered {
    color: rgb(15, 94, 184);
    text-decoration: none;
    font-size: 20px;
}

/* footer {
    background-color: #04251c36;
    padding: 16px;
    height: 100px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
} */